# Application
PROJECT_NAME="Stock Insight"
ENVIRONMENT="local"
API_V1_PREFIX="/api/v1"
APP_HOST="0.0.0.0"
APP_PORT=18000
APP_RELOAD=true
CORS_ORIGINS="*"

# Data
DATA_ROOT_PATH="./local_data"

# Logging
LOG_LEVEL="INFO"
LOG_TO_FILE=true
LOG_DIR="./logs"
LOG_RETENTION="14 days"
LOG_ROTATION="00:00"
LOG_DIAGNOSE=false
